<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Melina's Boutique</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
             
  </head>
<body>
  
  <nav class="navbar">
   <div class="nav">
    <img src="../../static/Images/logo.png" class="brand-logo" alt="logo">
    <div class="nav-items">
        <div class="search">
            <input type="text" class="search-box" placeholder="search brand, product">
            <button class="search-btn">search</button>
        </div>
        <a href="login.html"><img src="../../static/Images/user.png" alt="user"></a>
        <a href="shoppingCartCustomer.html"><img src="../../static/Images/cart.png" alt="cart"></a>
     </div>
    </div>
  </nav>

<ul class="links-container">
    <li class="link-item"><a href="#" class="link">Who We Are</a></li>
    <li class="link-item"><a href="#" class="link">Wedding Dresses</a></li>
    <li class="link-item"><a href="#" class="link">Evening Dresses</a></li>
    <li class="link-item"><a href="#" class="link">Accessories</a></li>
    <li class="link-item"><a href="#" class="link">Contact</a></li>
</ul>

<nav class="navbar"></nav>
<!-- hero section -->
<header class="hero-section">
    <div class="content">
               <p class="sub-heading">The best collection of all time</p>
    </div>
</header>
<section class="product">
    <h2 class="product-category">best selling</h2>
</section>

<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="../../static/Images/image1.png" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$800</span><span class="actual-price">$400</span>
        </div>
       </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="../../static/Images/image2.png" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$1000</span><span class="actual-price">$500</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="../../static/Images/image3.png" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$1000</span><span class="actual-price">$500</span>
        </div>
  </div> 
  </div>
 <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="../../static/Images/image4.png" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$1000</span><span class="actual-price">$500</span>
        </div>
     
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="../../static/Images/image5.png" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$2000</span><span class="actual-price">$1000</span>
        </div>
    </div>    
  
     <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">25% off</span>
            <img src="../../static/Images/image6.png" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$1000</span><span class="actual-price">$750</span>
        </div>
    </div>   
   
</div>

<script src="home.js></script>
</nav>

</html>